h1, h2, h3 {
    color: ghostwhite;
    text-align: center;
}

p {
    color: ghostwhite;
    text-align: inherit;
}

td, th {
    color: ghostwhite;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: darkgreen;
}

a {
    color: skyblue;
}

a:hover {
    color: cornflowerblue;
}