h1, h2, h3 {
    color: ghostwhite;
    text-align: center;
}

p {
    color: ghostwhite;
    text-align: inherit;
}

label {
    color: ghostwhite;
}

td, th {
    color: ghostwhite;
}

body {
    background-color: darkgreen;
}

a {
    color: skyblue;
}

a:hover {
    color: cornflowerblue;
}

.back-btn {
    text-align: left;
    padding-left: 10px;
    float: left;
}

.add-to-cart-btn {
    background-color: white;
    float: right;
}

.add-to-cart-btn:hover {
    background-color: lightgrey;
}

.checkout-btn {
    background-color: white;
    color: black;
}